* {
  margin: 0;
  padding: 0;
}

.round-box {
  border-radius: 0.5em;
  border: 1px solid black;
}

#input-section {
  padding: 2em;
  min-width: 15em;
  max-width: 50vw;
  max-height: 50vh;
  margin: 25vh 25vw;
  background-color: paleturquoise;
}

h1 {
  font-size: 3em;
}

#input-section hr {
  opacity: 0.7;
  margin: 1em auto;
}

#input-section input {
  padding: 0 0 0 0.5em;
}

#input-section button {
  display: block;
  margin: 1.5em auto;
  padding: 0.5em;
  background-color: mediumspringgreen;
}

.top-nav {
  height: 3em;
  width: 100%;
  background-color: paleturquoise;
  line-height: 3em;
  position: fixed;
  overflow: auto;;
}

.top-nav h2 {
  float: left;
  margin-left: 2em;
}

#visualize-section input {
  padding: 0 0 0 0.5em;
}

#search-form {
  margin-right: 2em;
  float: right;
}

.top-nav button{
  padding: 0.25em;
}

canvas {
  margin-top: 3em;
}
